@media (min-width: 981px) {
  .main-component {
    overflow: scroll;
    display: grid;
    width: 100%;
    grid-template-columns: auto 25%;
    grid-template-rows: auto 90%;
    grid-template-areas:
  "main aside"
  "graph aside";
  }
}

@media (max-width: 980px) {
  .main-component {
    display: flex;
    overflow: scroll;
    width: 100%;
    flex-direction: column;
  }
}

.sessionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.read {
  grid-area: main;
  order: 1;
}

.create {
  grid-area: aside;
  order: 0;

}

.plots {
  grid-area: graph;
  order: 2;
}

::marker {
  font-weight: lighter;
  font-size: 30px;
  transition: 0.15s background linear;
  color: rgba(0,0,0,0.30);
}

summary {
   font-family: "Roboto", "Arial", sans-serif;
   cursor: pointer;
   text-align: center;
 }

