.contentBox {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  margin: 10px 5px;
  padding: 5px;
  border-radius: 15px;
  display: grid;
}

.contentRow > input {
  width: 175px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.contentRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.contentRow > label {
  display: flex;
  align-self: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
}

.inputFields {
  margin-bottom: 35px;
}

.exerciseRecords {
  margin-bottom: 30px;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.addButton {
  padding: 8px 16px;
  background-color: rgba(0,0,0,0.05);
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 110px;
}

.deleteButton {
  padding: 8px 16px;
  background-color: rgba(0,0,0,0.05);
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 140px;
}

.addButton:hover {
  background-color: rgba(3, 255, 3, 0.19);
}

.deleteButton:hover {
  background-color: rgba(245, 0, 0, 0.33);
}

.headlineContainer {
  display: flex;
  justify-content: space-around;
}

#subHeadline {
  margin-top: 40px;
  align-self: center;
  font-family: "Roboto", "Arial", sans-serif;
}

